<h2> 分类 </h2>
  <ul class="category-list">
      {% for cat in site.categories %}
            {% if cat[0] != page.category %}
                <li>
                    <span>{{ cat[0] }} ({{ cat | last | size}})</span>
                    {% for post in site.posts %}
                        {% if cat[0] in post.categories%}
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                    {% endfor %}
                </li>
            {% else %}
                <li style="background-color: #444">
                    {% for post in site.posts %}
                        {% if cat[0] in post.categories%}
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
      {% endfor %}
  </ul>
