<h2> 分类 </h2>
  <ul class="category-list">
      {% for cat in site.categories %}
            {% if cat[0] != page.category %}
                <li>
                    <span>{{ cat[0] }} ({{ cat | last | size}})</span>
                    {% for cats in cat[0] %}
                        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                    {% endfor %}
                </li>
            {% else %}
                <li style="background-color: #444">
                    <span>{{ cat[0] }} ({{ cat | last | size}})</span>
                    {% for cats in cat[0] %}
                        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                    {% endfor %}
                </li>
            {% endif %}
      {% endfor %}
  </ul>
