.contact-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: inline-block;
  background: url(../images/icons.png) no-repeat;

  &.QQ                  { background-position: 0 0; }
  &.tecentWeibo         { background-position: 0 -40px; }
  &.weibo               { background-position: 0 -80px; }
  &.weChat              { background-position: 0 -120px; }
  &.github              { background-position: 0 -160px; }
  &.email               { background-position: 0 -200px; }
}
